wheel_zoom_on_cursor 1
status_bar_font_size 15
startup_commands toggle_statusbar
should_launch_new_window 1

custom_color_contrast 0.3
page_separator_width 10

custom_background_color #292828
custom_text_color #ebdbb2

page_separator_color #292828
search_highlight_color #d8a657
status_bar_color #292828
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #32302f
ui_selected_background_color #665c54
background_color #292828
visual_mark_color 0.4 0.36078432 0.32941177 0.2
text_highlight_color #665c54
link_highlight_color #7daea3
synctex_highlight_color #ea6962
