* {
  color: #1a1a1a;
}

#waybar {
  background: #f5f5f5;
}

#workspaces button {
  padding: 0 10px;
  color: #1a1a1a;
}

#workspaces button.focused,
#workspaces button.active {
  background: #ebebeb;
  color: #1a1a1a;
}
