background_color             #f5f5f5
custom_background_color      #f5f5f5
text_highlight_color         #ebebeb
visual_mark_color            #ebebeb

custom_text_color            #1a1a1a
ui_text_color                #1a1a1
ui_selected_text_color       #1a1a1a
link_highlight_color         #4c6ef5
search_highlight_color       #4c6ef5
synctex_highlight_color      #4c6ef5

highlight_color_a            #3b5bdb
highlight_color_b            #2d7f3e
highlight_color_c            #996800
highlight_color_d            #c7254e
highlight_color_e            #ae3ec9
highlight_color_f            #1098ad
highlight_color_g            #f59f00

ui_background_color          #ebebeb
ui_selected_background_color #4c6ef5
status_bar_text_color        #1a1a1a
status_bar_color             #f5f5f5

cursor-color                 #3b5bdb
cursor-text                  #f5f5f5
selection-background         #ebebeb
selection-foreground         #1a1a1a

# vim: ft=config
