CompileFlags:
	Add:
		-O2
		-Wall
		-Wextra
		-Wpedantic
		-Wshadow
		-Wformat=2
		-Wfloat-equal
		-Wlogical-op
		-Wshift-overflow=2
		-Wnon-virtual-dtor
		-Wold-style-cast
		-Wcast-qual
		-Wuseless-cast
		-Wno-sign-promotion
		-Wcast-align
		-Wunused
		-Woverloaded-virtual
		-Wconversion
		-Wsign-conversion
		-Wmisleading-indentation
		-Wduplicated-cond
		-Wduplicated-branches
		-Wlogical-op
		-Wnull-dereference
		-Wformat=2
		-Wformat-overflow
		-Wformat-truncation
		-Wdouble-promotion
		-Wundef
		-DLOCAL
		-Wno-unknown-pragmas
