[Desktop Entry]
Name=Sioyek
GenericName=PDF Viewer
Comment=Sioyek is a PDF viewer designed for reading research papers and technical books
Exec=sioyek %U
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=application/pdf;
Icon=com.github.ahrm.sioyek
StartupWMClass=sioyek
Keywords=PDF;viewer;research;
